@model IEnumerable<StudentManagementNV.Models.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin2.cshtml";
}
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">

            <h5 style="color: darkslategray">

                @Html.ActionLink("Create New Teacher", "Create")
            </h5>

        </div>
    </div>
    <br />
    <table class="table">
        <tr style="color:cadetblue">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th style="width:200px">
                Options
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeacherId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TeacherId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeacherId })
                </td>
            </tr>
        }

    </table>
